@font-face {
    font-family: "work";
    src: url("WorkSans-Regular.ttf");
}

@font-face {
    font-family: "mono";
    src: url("SpaceMono-Regular.ttf");
}

* {
    color: #fff !important;
   text-transform: capitalize;
   font-family: "work";
}

/* media --------------start */

@media screen and (max-width:991px) {

    .avatar-1 {
        height: 250px !important;
        background-image: url("Image\ PlaceHolder\ \(16\).png") !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-size: 100% 100%;
    }

    .mono h4 + p {
        font-size: 16px !important;
    }

    .mono h4 {
        font-size: 16px !important;
    }

    .col-lg-4 {
        padding-inline: 0 !important;
    }

    .animakid h1 {
        font-size: 28px !important;
        align-self: flex-start;
    }

    .animakid button {
        width: 100% !important;
    } 

    img[src="Avatar Placeholder (10).png"] {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .bio {
        width: 100% !important;
    }

    .bio > div {
        margin-inline-end: 0 !important;
    }

    .bio h3 {
        font-size: 22px !important;
    }

    .bio p {
        font-size: 16px !important;
    }

    .created h2 {
        font-size: 16px !important;
    }
}

/* media----------------end */

/* 1440 media start----------------------------- */

@media screen and (min-width: 1600px) {
    
  .container-fluid  nav {
       margin-inline: 200px !important;
    }
    
}

/* 1440 media end------------------------------- */
body {
    background-color: #2B2B2B !important;
}


nav {
    margin-top: 20px !important;
}


nav ul li a {
    font-weight: 600 !important;
}

nav ul li button {
    background-color: #A259FF;
    height: 60px;
    width: 152px;
}

nav ul li button:hover {
    opacity: 0.7;
}



nav a {
    text-decoration: none;
}

nav a:hover {
    color: rgb(233, 214, 214) !important;
}

.avatar-1 {
    height: 320px;
    background-image: url("Image\ PlaceHolder\ \(7\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}

.avatar-1 + .container {
    margin-top: -60px;
}

img[src="Avatar Placeholder (10).png"] + div button:first-of-type {
    background-color: #A259FF;
    width: 186px;
    height: 60px;
}

img[src="Avatar Placeholder (10).png"] + div button:last-of-type {
    border: 2px solid #A259FF;
    width: 145px;
    height: 60px;
}

img[src="Avatar Placeholder (10).png"] + div button:last-of-type span {
    color: #A259FF !important;
    font-size: 25px;
}

img[src="Avatar Placeholder (10).png"] + div button:last-of-type:hover {
    background-color: #228d3b !important;
    transition: 0.7s;
} 

h1 {
    font-size: 51px;
}

.bio h3 {
    font-size: 28px;
    font-weight: 700 !important;
    font-family: "mono" !important;
}

.bio p {
    font-size: 22px;
    font-weight: 400 !important;
     font-family: "mono" !important;
}

.bio > div:not(:last-of-type) {
    margin-inline-end: 100px;
}

.mono h4, p {
    font-family: "mono" !important;
}

.mono h4 {
    color: #858584 !important;
}

.mono p {
    font-size: 22px !important;
}

hr {
    height: 1px;
    width: 100%;
    background-color: #3B3B3B;
}

body .container-fluid:last-of-type {
    background-color: #3B3B3B;
}

.created h2 {
    font-size: 22px;
    font-weight: 600 !important;
}

.created > div:last-of-type h2  {
 color: #858584 !important;
}

.created > div:nth-last-of-type(2) h2  {
     color: #858584 !important;
}

.badge {
    background-color: #3B3B3B;
}

.card-body, .card-footer {
    background-color: #2B2B2B !important;
}

.card-footer > div p:first-of-type {
    font-size: 12px !important;
    color: #858584 !important;
}

.card-body p:first-of-type {
    font-size: 22px;
    font-weight: 600 !important;
}

footer {
    border-top: 2px solid #2B2B2B;
    margin-top: 80px;
}

footer h4, p {
    font-family: "mono" !important;
}

.row .card {
    height: 469px;
}

.row .card .card-img-top {
    height: 295px;
}

.footer-1 h4 {
 font-size: 22px;
 font-weight: 700 !important;
}

.footer-1 p {
    font-size: 16px;
    font-weight: 400 !important;
    color: #CCCCCC !important;
}

.template {
font-size: 12px !important;
font-weight: 400 !important;
color: #CCCCCC !important;
}

.footer-1  .form-control {
    height: 60px !important;
}

.footer-1 input[type="email"] + button {
    position: absolute;
    background-color: #A259FF;
    height: 60px;
    width: 40%;
    top: 0;
    right: 0;
}

.footer-2 input {
    height: 46px;
}

.footer-2 button {
    height: 46px;
    background-color: #A259FF;
}

.footer-2 h4 {
    font-size: 22px;
    font-weight: 700 !important;
}

.footer-2 p {
    font-size: 16px;
    font-weight: 400 !important;
    color: #CCCCCC !important;
}

.animakid h1 {
    font-weight: 600 !important;
}


nav a {
    position: relative;
    text-decoration: none;
}

nav a:hover {
    color: rgb(233, 214, 214) !important;
}

nav .href-1::after {
    content: "";
    position: absolute;
    background-color: #A259FF;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

.href-1:hover::after {
    width: 100%;
}
